html, body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

body {
	background: #001;
	font-family: monospace;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
code {
	padding: 5px;
	font-weight: bold;
	background: #115;
	border: solid 1px #337;
	border-radius: 8px;
}
@media (prefers-color-scheme: light) {
	body {
		background: #ddf;
		color: #000;
	}
	code {
		background: #abcdef;
		border-color: #123456;
	}
}

